<!DOCTYPE html>
<html>
    <head>
        <title>Sign in</title>
        <link href="css/mystyle.css" rel="stylesheet">

    </head>
    <body>
        <div class="wrap">
            <h1>Admin Login </h1>
            <form action="/adminlogin" method="post">
                <input type="text"  name = "email" placeholder="Email" required>
                <input type="password"  name = "password" placeholder="Password" required>
                <input type="submit"  value="Log In">
                <hr>
            </form>
        </div>
    </body>
</html>
