<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : Stratagem
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20130707

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Analysis</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="css/default1.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/font1.css" rel="stylesheet" type="text/css" media="all" />
<!--[if IE 6]>
<link href="default_ie6.css" rel="stylesheet" type="text/css" />
<![endif]-->
</head>
<body>
<div id="wrapper">
	<div id="menu-wrapper">

		<!-- end #menu -->
	</div>
	<div id="header-wrapper">
		<div id="header" class="container">
			<div id="logo">
				<h1><a href="#">Analysis</a></h1>
			</div>
		</div>
	</div>
	<div id="banner" class="container"> <a href="#" class="image"><img src="images/claim.png" alt="" /></a> </div>
	<div id="portfolio-wrapper">
		<div id="portfolio" class="container">
			<div id="column1">
				<div class="title">
					<h2>Suspicious</h2>
				</div>
				<p>Click on the button to get fraudulent claims.</p>
				<a href="/fraud" class="icon icon-arrow-right button">More</a> </div>
			<div id="column2">
				<div class="title">
					<h2>Non Suspicious</h2>
				</div>
				<p>Click on the button to get non fraudulent claims.</p>
				<a href="/notfraud" class="icon icon-arrow-right button">More</a> </div>
			<div id="column3">
				<div class="title">
					<h2>Map</h2>
				</div>
				<p>Click on the button to get the map of the fraudulent claim user locations.</p>
				<a href="/map" class="icon icon-arrow-right button">More</a> </div>
			<div id="column4">
				<div class="title">
					<h2>All</h2>
				</div>
				<p>Click on the button to get all the claims entered in the system</p>
				<a href="/result" class="icon icon-arrow-right button">More</a> </div>
		</div>
	</div>
	<div id="page" class="container">
		<div id="content">
			<div class="title">
				<h2>Insurance Fraud Detection</h2>
				<span class="byline">Processed by fraud specialist who largely work as normal claims handlers.</span> </div>

			<ul class="style3">
				<li class="first">
					<h3><em><img src="images/insurance-fraud.jpg" alt="" width="140" height="140" class="alignleft border" /></em> Health Insurance</h3>
					<p>Health insurance fraud detection is a challenging problem, given the variety of fraud patterns and relatively small ratio of known frauds in typical samples. While building detection models, the savings from loss prevention needs to be balanced with cost of false alerts.</p>
				</li>
				<li>
					<h3><em><img src="images/d8.jpg" alt="" width="140" height="140" class="alignleft border" /></em> Accidental Insurance</h3>
					<p>Accidental Insurance fraud detection is a challenging problem, given the variety of fraud patterns and relatively small ratio of known frauds in typical samples. While building detection models, the savings from loss prevention needs to be balanced with cost of false alerts.</p>
				</li>
				<li>
					<h3><em><img src="images/cro.jpg" alt="" width="140" height="140" class="alignleft border" /></em>Crop Insurance</h3>
					<p>Crop Insurance fraud detection is a challenging problem, given the variety of fraud patterns and relatively small ratio of known frauds in typical samples. While building detection models, the savings from loss prevention needs to be balanced with cost of false alerts.</p>
				</li>
			</ul>
		</div>
		<div id="sidebar">

			<div class="box2">
				<div class="title">
					<h2>EFFECTIVELY IDENTIFY THE CLAIMS</h2>
				</div>
				<ul class="style2">
					<li>Individual claims fraud suspicions across all lines of business.</li>
					<li>Potential provider fraud.</li>
					<li>Network fraud from organized crime groups and others.</li>
				</ul>
			</div>

			<div class="box2">
				<div class="title">
					<h2>DETECTION OF CLAIMS</h2>
				</div>
				<ul class="style2">
					<li>All claims will be suspected of fraud and detected more accurately.</li>
					<li>Data is processed in taking more information in consideration. </li>
					<li>The system can demonstrate where connections can exist between various factors that may be imperceptible to human eyes.</li>
				</ul>
			</div>



		</div>




	</div>
</div>
</div>

</body>
</html>
