<!DOCTYPE HTML>
<html>
	<head>
		<title>Analysis</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:700italic,400,300,700' rel='stylesheet' type='text/css'>
		<!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/skel-panels.min.js"></script>
		<script src="js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="css/skel-noscript1.css" />
			<link rel="stylesheet" href="css/analysis.css" />
			<link rel="stylesheet" href="css/style-desktop1.css" />
		</noscript>
	</head>
	<body class="homepage">

	<!-- Header -->
		<div id="header">
			<div class="container">

				<!-- Logo -->
					<div id="logo">
						<h1><a href="#">Analysis</a></h1>
					</div>

			</div>
		</div>
	<!-- Header -->

	<!-- Banner -->
		<div id="banner">
			<div class="container">
			</div>
		</div>
	<!-- /Banner -->

	<!-- Main -->
		<div id="page">

			<!-- Extra -->
			<div id="marketing" class="container">
				<div class="row">
					<div class="3u">
						<section>
							<header>
								<center><h2><b>Suspicious</b></h2></center>
							</header>
							<p class="subtitle">Processed by fraud specialist who largely work as normal claims handlers.</p>
							<p><a href="#"><img src="images/pics1.jpg" alt=""></a></p>
							<center><a href="#" class="button"><b>More</b></a></center>
						</section>
					</div>
					<div class="3u">
						<section>
							<header>
								<center><h2><b>Non Suspicious</b></h2></center>
							</header>
							<p class="subtitle">Processed by fraud specialist who largely work as normal claims handlers.</p>
							<p><a href="#"><img src="images/pics1.jpg" alt=""></a></p>
							<center><a href="#" class="button"><b>More</b></a></center>
						</section>
					</div>
					<div class="3u">
						<section>
							<header>
								<center><h2><b>Map</b></h2></center>
							</header>
							<p class="subtitle">Processed by fraud specialist who largely work as normal claims handlers.</p>
							<p><a href="#"><img src="images/pics1.jpg" alt=""></a></p>
							<center><a href="#" class="button"><b>More</b></a></center>
						</section>
					</div>
					<div class="3u">
						<section>
							<header>
								<center><h2><b>All</b></h2></center>
							</header>
							<p class="subtitle">Processed by fraud specialist who largely work as normal claims handlers.</p>
							<p><a href="#"><img src="images/pics1.jpg" alt=""></a></p>
							<center><a href="/result" class="button"><b>More</b></a></center>
						</section>
					</div>
				</div>
			</div>
			<!-- /Extra -->



		</div>
	<!-- /Main -->



	<!-- Footer -->
		<div id="footer">
			<div class="container">
				<div class="row">
					<div class="3u">
						<section>
							<center><h2>Insurance Claim Detection</h2></center>
							<div class="balloon">
								<blockquote>&ldquo;&nbsp;&nbsp;Insurance fraud detection is a challenging problem, given the variety of fraud patterns and relatively small ratio of known frauds in typical samples. While building detection models, the savings from loss prevention needs to be balanced with cost of false alerts.&nbsp;&nbsp;&rdquo;<br>
									<br>
							</div>
							<div class="ballon-bgbtm">&nbsp;</div>
						</section>
					</div>
					<div class="3u">
						<section>
						<h2>Effectively Identify the claims</h2>
							<ul class="default">
								<li>
									<p>Individual claims fraud suspicions across all lines of business.</p>
								</li>
								<li>
									<p>Network fraud from organized crime groups and others.</p>
								</li>
								<li>
									<p>Potential provider fraud.</p>
								</li>
							</ul>
						</section>
					</div>
					<div class="3u">
						<section>
							<h2>Effectively Identify the claims</h2>
							<ul class="default">
								<li>
									<p>Individual claims fraud suspicions across all lines of business.</p>
								</li>
								<li>
									<p>Network fraud from organized crime groups and others.</p>
								</li>
								<li>
									<p>Potential provider fraud.</p>
								</li>
							</ul>
						</section>
					</div>
					<div class="3u">
						<section>
							<h2>Effectively Identify the claims</h2>
							<ul class="default">
								<li>
									<p>Individual claims fraud suspicions across all lines of business.</p>
								</li>
								<li>
									<p>Network fraud from organized crime groups and others.</p>
								</li>
								<li>
									<p>Potential provider fraud.</p>
								</li>
							</ul>
						</section>
					</div>
				</div>
			</div>
		</div>
	<!-- /Footer -->



	</body>
</html>
