<!DOCTYPE html>
<html lang="">
<head>
<title>Insurance Fraud Detection</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="css/layout.css" rel="stylesheet" type="text/css" media="all">
</head>
<body id="top">
<div class="wrapper row0">
  <div id="topbar" class="hoc clear">
    <div class="fl_left">
      <ul class="nospace">
        <li><a href="">Home</a></li>

      </ul>
    </div>
  </div>
</div>
<div class="wrapper row1">
  <header id="header" class="hoc clear">
    <div id="logo" class="one_half first">
      <h1 class="logoname"><a href="index.html"><span>Insurance</span> Fraud Detection</a></h1>
    </div>
  </header>
  <nav id="mainav" class="hoc clear">
    <ul class="clear">
      <li><a class="drop" href="#">MENU</a>
        <ul>
          <li><a href= "/insurances" >Insurance Claims</a></li>
  
        </ul>
    </ul>
  </nav>
</div>
<div class="wrapper bgded overlay" style="background-image:url('images/back1.jpg');">
  <div id="pageintro" class="hoc clear">
    <article>
      <p>Detection and Investigation for Insurance</p>
      <h3 class="heading">Insurance Fraud Detection</h3>
      <p>Detect, prevent and manage claims fraud across all lines of business.</p>
    </article>
  </div>
</div>
<div class="wrapper row0">
  <div id="topbar" class="hoc clear">
    <div class="fl_left"></div>
  </div>
<script src="jquery.min.js"></script>
<script src="jquery.backtotop.js"></script>
<script src="jquery.mobilemenu.js"></script>
</body>
</html>
