<!DOCTYPE HTML>
<html>
	<head>
		<title>Types of Insurrances</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link href='http://fonts.googleapis.com/css?family=Oxygen:400,300,700' rel='stylesheet' type='text/css'>
		<!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/skel-panels.min.js"></script>
		<script src="js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="css/skel-noscript.css" />
			<link rel="stylesheet" href="css/style.css" />
		</noscript>
	</head>
	<body class="homepage">
		<div id="header">
			<div class="container">
					<div id="logo">
						<h1><a href="#">Insurances For</a></h1>
						<span>Your Professional Business</span>
					</div>
			</div>
		</div>
		<div id="main">
			<div class="container">
				<header>
					<h2>CHOOSE THE TYPE OF CLAIM YOU WANT</h2>
				</header>
				<div class="row">
					<div class="3u">
						<section>
							<a href="#" class="image full"><img src="images/health.jpg" alt="" /></a>
							<p>We Believe HEALTH INSURANCE IS A RIGHT - not a privilege.</p>
							<center><a href="/health" class="button">Claim Here</a></center>
						</section>
					</div>
					<div class="3u">
						<section>
							<a href="#" class="image full"><img src="images/crop.jpg" alt="" /></a>
							<p>We Believe CROP INSURANCE IS A RIGHT - not a privilege.</p>
							<center><a href="crop" class="button">Claim Here</a></center>
						</section>
					</div>
					<div class="3u">
						<section>
							<a href="#" class="image full"><img src="images/accident.jpg" alt="" /></a>
							<p>We Believe ACCIDENTAL INSURANCE IS A RIGHT - not a privilege.</p>
							<center><a href="accidental" class="button">Claim Here</a></center>
						</section>
					</div>

				</div>
				<div class="divider">&nbsp;</div>
				<div class="row">

					<!-- Content -->
						<div class="8u skel-cell-important">
							<section id="content">
								<header>
									<h2>SAFESECURE</h2>
									<span class="byline">Personal as well as professional security liability insurance has become a strict demand of today's unstable and insecure world.</span>
								</header>
								<p><a href="#" class="image full"><img src="images/Slider-1.jpg" alt=""></a></p>
								<p>The <strong>Insurance Fraud Detection</strong>, that perfectly demonstrates the range of liability and personal policies.Elucidate all your claims management and services.</p>

							</section>
						</div>
					<!-- /Content -->

					<!-- Sidebar -->
						<div id="sidebar" class="4u">
							<section>
								<header>
									<h2>We Care And Protect Your Insurance</h2>
									<span class="byline">We Will Help To Find Your Claim.</span>
								</header>
								<p>While filling for a claim, complete the provided form or else your claim won't be registered.</p>
								<ul class="default">
									<li>Allow location access to the browser when asked for getting your claim information registered without any hinderences.</li>
									<li>Take time to fill-in the accurate details to get the claim processed in less amount of time.</li>

								</ul>
							</section>
						</div>
					<!-- Sidebar -->

				</div>

			</div>
		</div>
	<!-- Main -->

	<!-- Footer -->
		<div id="footer">
			<div class="container">
				<div class="row">
					<div class="3u">
						<section>
							<ul class="style1">
								<li><img src="images/d6.jpg" width="78" height="78" alt="">
									<p> What happens if you file a fraudlent Health Insurance Claim ?</p>
								</li>
								<li><img src="images/d5.jpg" width="78" height="78" alt="">
									<p>What happens if you file a fraudlent Accidental Insurance Claim ? </p>
								</li>
								<li><img src="images/d3.jpg" width="78" height="78" alt="">
									<p>What happens if you file a fraudlent Crop Insurance Claim ? </p>
								</li>
							</ul>
						</section>
					</div>
					<div class="3u">
						<section>
							<ul class="style1">
								<li class="first"><img src="images/d2.jpg" width="78" height="78" alt="">
									<p>Your claim is flagged and it may cause your health insurance to suspend. </p>
								</li>
								<li><img src="images/d1.jpg" width="78" height="78" alt="">
									<p>Your claim is flagged and it may cause your accidental insurance to suspend. </p>
								</li>
								<li><img src="images/d4.jpg" width="78" height="78" alt="">
									<p>Your claim is flagged and it may cause your crop insurance to suspend. </p>

								</li>
							</ul>
						</section>
					</div>
					<div class="6u">
						<section>
							<header>
								<h2>Why choose us?</h2>
							</header>
							<p>FRAUD DETECTION</p>
							<p>Fraud ia s growing problem in the insurance industry. Insurance companies uses various techniques to study and detect suspicious claims that need to be further investigated. The potential for savings in this area is immense. Some reasons to avoid this detection :</p>
							<ul class="default">
								<li>Increase the chances of detecting fraud and limiting false positives.</a></li>
								<li>Claims automation; Enable straight-through processing (STP).</li>
								<li>Fraud management: Create more efficient fraud investigations.</li>
								<li>Objectify screenings.</li>
								<li>Leverage information from the claims process to make better underwriting decisions.</li>
								<li>Automated fraud detection; Embrace digital.</li>
							</ul>
						</section>
					</div>
				</div>
			</div>
		</div>

	</body>
</html>
